<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tarkeba perfume">
    <meta property="og:description"
        content="get the best Tarkeba's of the best perfumes, we can make a custom perfume for you.">
    <meta property="og:image" content="tarkeba-img/iconSocail.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:type" content="website">
    <title>Tarkeba perfume | Product</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/icon2.png">
    <link rel="stylesheet" href="/stylesheets/tarkeba.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/orderDetails.css">
    <link rel="stylesheet" href="/stylesheets/product.css">
    <link rel="stylesheet" href="/stylesheets/orders.css">
    <link rel="stylesheet" href="/stylesheets/style-language.css">
</head>

<body>
    <div id="cartBody">
        <div style="display: flex; justify-content: flex-start;">
            <!--side bar-->
            {{> sidebar}}
            <!--header-->
            {{> header2}}
            <!--page body-->
            <div class="dashboard-body">
                <div class="order-list" style="margin-bottom: 50px;">
                    <form action="/admin/updateCustomPerfume" method="POST" enctype="multipart/form-data"
                        id="customProduct" style="width: 80%; display: flex; flex-direction: column;">
                        <div class="page-title"
                            style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                            <p>Custom Perfume</p>
                            <input type="submit" class="btn"
                                style="border-radius: 4px; border: 0px; font-weight: bold; margin: 0px;" value="Update">
                        </div>
                        <div class="product-body">
                            <div>
                                <div class="details-div">
                                    <h3 style="padding-bottom: 20px;">Basic information</h3>
                                    <div>
                                        <div class="pricing">
                                            <div>
                                                <p style="font-weight: bold;">Product Price</p>
                                                <input type="number" class="inputStyle" name="price"
                                                    value="{{customPerfume.pricing.price}}" required>
                                            </div>
                                            <div>
                                                <p style="font-weight: bold;">Sale Price</p>
                                                <input type="number" class="inputStyle" name="salePrice"
                                                    value="{{customPerfume.pricing.salePrice}}">
                                            </div>
                                        </div>
                                        <div>
                                            <p style="font-weight: bold;">Sizes</p>
                                            <input type="text" class="inputStyle" name="size"
                                                value="{{customPerfume.size}}"
                                                placeholder="Enter values separated by commas">
                                        </div>
                                        <div>
                                            <p style="font-weight: bold;" id="codeTitle">Description</p>
                                            <textarea name="description" class="inputStyle textArea"
                                                required>{{customPerfume.desc}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="details-div">
                                    <h3 style="margin-bottom: 15px;">Images</h3>
                                    <div style="color: #6c757d; font-size: 15px; margin: 15px 0px;">
                                        When adding images, you must select the images of the bottles that the
                                        customer can choose when purchasing.
                                    </div>
                                    <div
                                        style="display: grid; grid-template-columns: 1fr 6fr 1fr 1.5fr 0.5fr; justify-content: space-between; width: 100%; align-items: center; margin: 10px 0px">
                                        <h4 style="font-weight: bold; margin: 0px 5px;">Image</h4>
                                        <h4 style="font-weight: bold;">Alt text</h4>
                                        <h4 style="font-weight: bold;">Order</h4>
                                        <h4 style="font-weight: bold; text-align: center;">Selected</h4>
                                    </div>
                                    <div style="border-bottom: 1px solid #bbb;">
                                        {{#each customPerfume.images as | val index |}}
                                        <div
                                            style="display: grid; grid-template-columns: 1fr 6fr 1fr 1.5fr 0.5fr; width: 100%; align-items: center; margin-bottom: 25px;">
                                            <img src="{{this.url}}" style="width: 40px;">
                                            <input type="text" class="altImg" value="{{this.altText}}" name="altText"
                                                style="margin: 0px; width: 90%;">
                                            <input type="number" class="orderImg" value="{{this.order}}"
                                                name="orderOfImg" style="margin: 0px;">
                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                {{#if this.selected}}
                                                <input type="checkbox" name="selectedImages" value="{{this.order}}"
                                                    style="width: 19px; heigth: 19px;" checked>
                                                {{else}}
                                                <input type="checkbox" name="selectedImages" value="{{this.order}}"
                                                    style="width: 19px; heigth: 19px;">
                                                {{/if}}
                                            </div>
                                            <input type="checkbox" name="deletedImages" id="{{this.public_id}}"
                                                style="display: none;" value="{{this.public_id}}">
                                            <label for="{{this.public_id}}">
                                                <img class="closeX" src="/images/close.png"
                                                    style="border: 0px; width: 12px; margin-left: 15%; cursor: pointer;"
                                                    onclick="deleteStoredImg(this)">
                                            </label>
                                        </div>
                                        {{/each}}
                                        <span id="imagesBody"></span>
                                    </div>
                                    <input type="file" accept="image/*" id="file" name="images" style="display: none;"
                                        multiple>
                                    <label for="file">
                                        <div style="display: inline-block">
                                            <p class="upload">Upload new image</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="details-div">
                                    <h3>Search engine optimization</h3>
                                    <p style="color: #6c757d; font-size: 15px; margin: 15px 0px;">Provide information
                                        that
                                        will help improve the snippet and bring your product to the top of search
                                        engines.
                                    </p>
                                    <div>
                                        <p style="font-weight: bold;">Page title</p>
                                        <input type="text" class="inputStyle" name="pageTitle"
                                            value="{{customPerfume.pageTitle}}" required>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;">Meta description</p>
                                        <textarea name="metaDesc" class="inputStyle textArea"
                                            required>{{customPerfume.metaDesc}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--javaScripts-->
    <script src="/javascripts/sidebar.js"></script>
    <script src="/javascripts/customPerfume.js"></script>
</body>

</html>